flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ab9cf05b.4c787",
        "type": "mqtt-broker",
        "name": "myBrokerConfig",
        "broker": "${MQTT_HOST}",
        "port": "${MQTT_PORT}",
        "tls": "45bcf826.1d4be",
        "clientid": "${MQTT_CLIENT_ID}",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "45bcf826.1d4be",
        "type": "tls-config",
        "name": "myTLSconfig",
        "cert": "",
        "key": "",
        "ca": "${MQTT_CA_CERT}",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "${MQTT_HOST}",
        "verifyservercert": true
    },
    {
        "id": "627d9fa8.e4bdb",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "${WWW}",
        "payloadType": "str",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "42580302.ca5b44"
            ]
        ]
    },
    {
        "id": "42580302.ca5b44",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "206c584f.9364d8",
        "type": "http in",
        "z": "3af82246.3634ae",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "87f6a522.9c9b68"
            ]
        ]
    },
    {
        "id": "7547df73.953998",
        "type": "http response",
        "z": "3af82246.3634ae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "87f6a522.9c9b68",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"text\":\"Hello\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "7547df73.953998"
            ]
        ]
    },
    {
        "id": "87dabb75.e50f4",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "json",
        "broker": "ab9cf05b.4c787",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "4e42e13d.073b48"
            ]
        ]
    },
    {
        "id": "4e42e13d.073b48",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 410,
        "y": 440,
        "wires": []
    },
    {
        "id": "aa722a7f.8d6dc",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "67cf452c.e771f4"
            ]
        ]
    },
    {
        "id": "67cf452c.e771f4",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "71bbd0ba.8cbe6"
            ]
        ]
    },
    {
        "id": "71bbd0ba.8cbe6",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "name": "",
        "topic": "time",
        "qos": "",
        "retain": "",
        "broker": "ab9cf05b.4c787",
        "x": 410,
        "y": 360,
        "wires": []
    }
]