flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"627d9fa8.e4bdb","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["42580302.ca5b44"]]},{"id":"42580302.ca5b44","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":160,"wires":[]},{"id":"336894c0.92fb64","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["11299625.121762"]]},{"id":"e5775241.0d8628","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":220,"wires":[]},{"id":"11299625.121762","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":220,"wires":[["e5775241.0d8628"]]}]