flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6f2f6b8.da3688","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"${MQTT_HOST}","port":"${MQTT_PORT}","tls":"27345166.1aeda6","clientid":"${MQTT_CLIENT_ID}","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"27345166.1aeda6","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"${MQTT_CA_CERT}","certname":"","keyname":"","caname":"","servername":"${MQTT_HOST}","verifyservercert":true},{"id":"627d9fa8.e4bdb","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"${WWW}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["42580302.ca5b44"]]},{"id":"42580302.ca5b44","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":160,"wires":[]},{"id":"45fb4c4f.552a04","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":240,"wires":[["ea2020cd.397c08"]]},{"id":"7511c29.3f5a4bc","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":240,"wires":[]},{"id":"ea2020cd.397c08","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["7511c29.3f5a4bc"]]},{"id":"e110b735.1f1098","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"e6f2f6b8.da3688","x":110,"y":440,"wires":[["3e37e1a8.6b3386"]]},{"id":"3e37e1a8.6b3386","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":440,"wires":[]},{"id":"3eb2e00b.2c3f98","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["2a6b3079.b2622"]]},{"id":"2a6b3079.b2622","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":340,"wires":[["cf35613a.48efb"]]},{"id":"cf35613a.48efb","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"e6f2f6b8.da3688","x":430,"y":360,"wires":[]}]